
header{
    font-family: 'Courier New', Courier, monospace;
    background: white;
    line-height: 0.3em;
    display: flex;
    justify-content: space-between;
    
}

.temp{
    background: white;
    line-height: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.social_link{
   
    background: greenyellow;
    text-align: right;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-radius: 30%;
    
    color: greenyellow;
    
    
    
}

.nav{
    display: flex;
    padding: 20px;
    background: greenyellow;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.home,
.styledemo,
.full_width,
.portfolio,
.gallery,
.dropdown{
    text-decoration: none;
    color: rgb(184, 179, 179);
}


.search{
    text-align: right;
    padding: 0;
    margin: 0;
}

.sign_up,
.login,
.rss,
.archived{
    text-decoration: none;
    color: rgb(149, 221, 41);
    
}
.login{
    background: white;
    text-align: right;
    padding-bottom: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.fa {
    padding: 10px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
  }

.fa:hover {
    opacity: 0.3;
  }

.fa-linkedin {
    background: #007bb5;
    color: white;
    border-radius: 50%;
  }

.fa-twitter {
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }

.fa-pinterest {
    background: #cb2027;
    color: white;
    border-radius: 50%;
  }

.fa-google {
    background: #dd4b39;
    color: white;
    border-radius: 50%;
  }

.fa-rss {
    background: #ff6600;
    color: white;
    border-radius: 50%;
    }  

.big_image{
    background: rgb(226, 223, 223);
}

.img{
    width: 880px;
    height: 360px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
    }

.group_img,
.world_img,
.setting_img,
.leaf_img{
    padding: 2em;
    height: 75px;
    width: 75px;
}

h3{
    color: rgb(149, 221, 41);
    font-family: 'Courier New', Courier, monospace;
}


.option{
    background: white;
    display: flex;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.one_img,
.two_img,
.three_img,
.four_img{
    height: 130px;
    width: 200px;
}

.project{
    background: white;
    display: flex;
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.detail{
    text-align: right;
    color: greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer{
    background: rgb(58, 56, 56);
    
    
}
.contacts{
    min-width: 800px;
    display: flex;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    position: relative;
    text-align: left;
    color: rgb(146, 146, 144);
    
}
.contacts +.contacts{
    
        margin-left: 2em;
}
h5{
    
    color: rgb(180, 180, 170);
    font-family: 'Courier New', Courier, monospace;
}
.link{
    text-decoration: none;
    color:rgb(136, 136, 135); 
    line-height: 0.1em;
}
.details,
.blogs,
.new,
.link{
    width: 600px;
    color: rgb(136, 136, 135);
    padding: 5px;
    
}


.name,
.email{
    background: black;
    color: white;
}

.button{
    background: black;
    color: greenyellow;
}
hr{
    color: rgb(63, 65, 65);
}
.link_h{
    color: rgb(71, 71, 70);
}
.news{
    line-height: 2em;
}
.contact__email,
.fax{
    line-height: 0.1em;
}
.copyright{

    display: flex;
    justify-content: space-between ;
    background: rgb(85, 83, 83);
    font-family: Arial, Helvetica, sans-serif;
}
.pro{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
